/* Alignement des éléments fils */
.row-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  /* Arrondir les bordures */
  .row-layout > div {
	border-radius: 10px;
  }
  
  /* Couleurs des éléments fils */
  .row-layout > div:nth-child(1) {
	background-color: #ffa07a;
  }
  
  .row-layout > div:nth-child(2) {
	background-color: #7fffd4;
  }
  
  .row-layout > div:nth-child(3) {
	background-color: #ff7f50;
  }
  
  /* Barre de recherche */
  form {
	display: inline-block;
	margin: 10px;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 10px;
	position: relative; /* Ajout de position relative */
  }
  
  /* Icône de loupe */
  label[for="search"]::before {
	content: "\1F50D";
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%); /* Centrer verticalement */
  }
  