<!--Authentification.html-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Authentification.css">
    
  </head>
  <body>
    <form action="/Authentification" method="POST">
      <div class="login-container">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
      </div>
    </form>   
   <script src="Authentification.js"></script>
  </body>
</html>
